<h1><%=@name%></h1>
<h1>Email</h1>
<p class="contact"><%=@email %></p>
<h1>Phone Number</h1>
<p class="contact">631-415-4226</p>
<%= @Currentuser %>

<h1>Contact Us</h1>

<%= flash[:notice] %>

<%= render 'contact_form' %>
