<% if signed_in? %>
  <h4>Add a review:</h4>
  <%= form_for([@product, @product.comments.build], remote: true) do |form| %>
  <div class="container-fluid" id="newcomment">
    <div class="form-group">
      <%= form.label :body, "Comments" %><br>
      <%= form.text_area :body, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :rating %><br>
      <%= form.text_field :rating, class: "rating", class:"form-control" %>
    </div>
    <div class="form-group">
      <%= form.submit "Submit", type: "submit", class: "form_label" %>
    </div>
  </div>
  <% end %>
<% end %>
